/* .items {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}
.item {
  background-color: white;
  padding: 20px;

  font-size: 20px;
  width: 400px;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 10px;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0 0 55px rgba(0, 0, 0, 0.5);
} */
/* .img {
  width: 19em;
  height: 20em;
} */

.item h3 {
  font-size: 32px;
  margin: 5px 0;
}

.listItem {
  display: flex;
  gap: 10px;
  border-bottom: solid 1px #ccc;
  padding: 10px 0;
}

.page {
  background-color: white;
  padding: 40px;
  display: flex;

  box-shadow: 0 0 50px rgba(0, 0, 0, 0.15);
  transform: scale(0);
  animation: scale 0.3s ease forwards;
}
/* title {
  font-size: 3.2em;
  line-height: 1.1;
  display: flex; 
  justify-content: center; 
  align-items: center; 
  height: 100vh;
  margin-bottom: 2em;
} */
/* @keyframes scale {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
} */

.image {
  width: 200px;
  min-width: 200px;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.price {
  font-size: 28px;
  margin: 10px 0;
}
